/* imports */
@import "./font.css";
@import "./layout.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    /* Reset */
    * {
        @apply m-0 p-0 box-border;
    }

    html,
    body {
        @apply font-din;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply capitalize bg-background-light text-text-light antialiased transition-colors duration-300;
    }

    /* Dark mode */
    .dark body {
        @apply bg-background-dark text-text-dark;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold text-gray-900 dark:text-gray-100;
    }

    p {
        @apply leading-relaxed;
    }

    a {
        @apply hover:underline;
    }
}

html {
    scroll-behavior: smooth;
}